* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Asap', 'sans-serif';
    background-image: linear-gradient(to bottom, #197278, #f7f7f7);
}

.main-container {
    min-height: 80vh;
    width: 60%;
    margin: 9rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(247, 247, 247,.8);
    border-radius: .5rem;
    border: .3rem solid rgb(12,5,41);
}

.header-title {
    font-size: 4rem;
    font-weight: 300;
    color: #333;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    
}

.header-score {
    font-size: 4rem;
    color: #333;
    font-weight: 300;
}

.user-and-computer {
    display: flex;
    width: 30%;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
}

.user {
    color: #333;
    font-size: 2.5rem;
    font-weight: 300;
}

#user-score {
    color: #333;
    font-size: 3.5rem;
    flex: 0 0 30%;
}

.computer {
    color: #333;
    font-size: 2.5rem;
    font-weight: 300;

}

#computer-score {
    color: #333;
    font-size: 3.5rem;
}

.header-secondary {
    font-size: 2rem;
    color: #333;
    font-weight: 300;
}

.input {
    width: 60%;
    height: 2.5rem;
    border: none;
    font-size: 1.6rem;
    outline: none;
    text-align: center;
    border-radius: .3rem;
    margin-top: 1rem;
    background-color: transparent;
    background-color: rgb(72, 114, 153);
    color: #fff;
}

.input::placeholder{
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
}

#reset-btn {
    border: none;
    padding: .5rem 2rem;
    border-radius: .2rem;
    background-color: rgba(72, 114, 153,.8);
    color: #fff;
    font-size: 1.4rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .1s linear;
}
#reset-btn:hover {
    background-color: rgba(72, 114, 153,1);
    
}

#reset-btn:active {
    transform: translateY(.1rem);
}

.result {
    font-size: 3rem;
    font-weight: 300;
    color: #333;
}

.game-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

#rock {
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in;
}

#rock:hover {
    transform: translateY(-.3rem);
}

#paper {
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in;
}

#paper:hover {
    transform: translateY(-.3rem);
}

#scissors {
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in;
    
}

#scissors:hover {
    transform: translateY(-.3rem);
}

.img {
    width: 70%;
    height: 70%;
    
}